<div>
  <ng-sidebar-container style="height: 100vh">
    <ng-sidebar
      [(opened)]="isSidebarOpened"
      mode="push"
      autoCollapseWidth="100"
    >
      <div class="sidenav d-flex flex-column justify-content-between">
        <div class="p-2 mt-2 flex-fill btn">LOGO</div>
        <button class="p-2 mt-2 flex-fill btn">Home</button>
        <button
          class="p-2 mt-2 flex-fill btn"
          (click)="openRegister()"
          *ngIf="isSidebarUserRegistrationVisible"
        >
          Registration
        </button>
        <button class="p-2 mt-2 flex-fill btn" (click)="openFeedback()">
          Feedback
        </button>
        <button class="p-2 mt-2 flex-bill btn" (click)="openProducts()">
          Products
        </button>
        <button class="p-2 mt-2 flex-fill btn">About</button>
      </div>
    </ng-sidebar>

    <div ng-sidebar-content>
      <app-dashboard></app-dashboard>
      <router-outlet></router-outlet>
    </div>
  </ng-sidebar-container>
</div>
